body{
    background-color: rgb(103, 189, 196);
}
.h1{
    text-align: center;
    color: black;
}



.container{
    max-width: 960px;
    margin: 0 auto;
    background: #e0dddd;
    font-size: 24px;
    padding: 25px;
}
.parallax{
    background: url('Images/Image0.cms') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}

.parallax1{
    background: url('Images/Image1.cms') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}

.container1{
    max-width: 960px;
    margin: 0 auto;
    background: #e0dddd;
    font-size: 24px;
    padding: 25px;
}

.parallax2{
    background: url('Images/Image2.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}

.container2{
    max-width: 960px;
    margin: 0 auto;
    background: #e0dddd;
    font-size: 24px;
    padding: 25px;
}

.parallax3{
    background: url('Images/Image4.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}

.container3{
    max-width: 960px;
    margin: 0 auto;
    background: #e0dddd;
    font-size: 24px;
    padding: 25px;
}

.parallax4{
    background: url('Images/image3.jfif') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}

.container4{
    max-width: 960px;
    margin: 0 auto;
    background: #e0dddd;
    font-size: 24px;
    padding: 25px;
}